<div class="app-title-bar bg-gray px-m py-s">
  <span class="text-m text-bold">Space scale: xxxs - xxxl</span>
</div>

<div class="py-m text-bold">
  <div class="app-box bg-black inline-block pa-xxxs ml-s"></div>
  <div class="app-box bg-black inline-block pa-xxs ml-s"></div>
  <div class="app-box bg-black inline-block pa-xs ml-s"></div>
  <div class="app-box bg-black inline-block pa-s ml-s"></div>
  <div class="app-box bg-black inline-block pa-m ml-s"></div>
  <div class="app-box bg-black inline-block pa-l ml-s"></div>
  <div class="app-box bg-black inline-block pa-xl ml-s"></div>
  <div class="app-box bg-black inline-block pa-xxl ml-s"></div>
  <div class="app-box bg-black inline-block pa-xxxl ml-s"></div>
</div>

<div class="app-title-bar bg-gray px-m py-s">
  <span class="text-bold">Text scale: xs - xxxl</span>
</div>
<div class="py-m">
  <p class="text-xs">The quick <span class="text-bold">bold</span> fox.</p>
  <p class="text-s">The quick <span class="text-bold">bold</span> fox.</p>
  <p class="text-m">The quick <span class="text-bold">bold</span> fox.</p>
  <p class="text-l">The quick <span class="text-bold">bold</span> fox.</p>
  <p class="text-xl">The quick <span class="text-bold">bold</span> fox.</p>
  <p class="text-xxl">The quick <span class="text-bold">bold</span> fox.</p>
  <p class="text-xxxl">The quick <span class="text-bold">bold</span> fox.</p>
</div>

<div class="app-title-bar bg-gray px-m py-s">
  <span class="text-bold">Colors: xx-light - xx-dark</span>
</div>
<div class="py-m">
  <div class='app-box bg-green-xx-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-green-x-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-green-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-green pa-l inline-block mr-s'></div>
  <div class='app-box bg-green-dark pa-l inline-block mr-s'></div>
  <div class='app-box bg-green-x-dark pa-l inline-block mr-s'></div>
  <div class='app-box bg-green-xx-dark pa-l inline-block mr-s'></div>

  <div class='app-box bg-red-xx-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-red-x-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-red-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-red pa-l inline-block mr-s'></div>
  <div class='app-box bg-red-dark pa-l inline-block mr-s'></div>
  <div class='app-box bg-red-x-dark pa-l inline-block mr-s'></div>
  <div class='app-box bg-red-xx-dark pa-l inline-block mr-s'></div>

  <div class='app-box bg-blue-xx-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-blue-x-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-blue-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-blue pa-l inline-block mr-s'></div>
  <div class='app-box bg-blue-dark pa-l inline-block mr-s'></div>
  <div class='app-box bg-blue-x-dark pa-l inline-block mr-s'></div>
  <div class='app-box bg-blue-xx-dark pa-l inline-block mr-s'></div>

  <div class='app-box bg-gray-xx-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-gray-x-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-gray-light pa-l inline-block mr-s'></div>
  <div class='app-box bg-gray pa-l inline-block mr-s'></div>
  <div class='app-box bg-gray-dark pa-l inline-block mr-s'></div>
  <div class='app-box bg-gray-x-dark pa-l inline-block mr-s'></div>
  <div class='app-box bg-gray-xx-dark pa-l inline-block mr-s'></div>

  <div class='app-box bg-black pa-l inline-block mr-s'></div>
  <div class='app-box bg-black-dark pa-l inline-block mr-s'></div>
</div>
